header li {
  display: flex;
  justify-content: space-between;
  color: blueviolet;
  font-size: 22px;
  line-height: 0.2;
  background-color: aquamarine;
  padding: 0 10px;
  border-radius: 4px;
}
h1 {
  font-size: 34px;
  border: 1px solid darkgreen;
  text-align: center;
  padding: 15px;
  border-radius: 4px;
}
h2 {
  color: darkgreen;
}
li {
  list-style-type: none;
}

body {
  max-width: 80%;
  margin: 0 auto;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.service-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.service-description {
  flex: 1;
  min-width: 300px;
  line-height: 1.6;
}
.service-image {
  flex: 1;
  justify-content: center;
  line-height: 0.2;
  display: flex;
  max-width: 100px;

}
.service-image img {
   max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
 
}
.motto {
  text-align: center;
}